* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

input {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
button {
  border: none;
}